.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .sendreqbtn {
      float: right;
    margin-top: 5px;


  }
  .viewbtn{
    margin-right: 10px;
    margin-top: 5px;
    float: right;

}
.btn{
  float: right;
}
.mat-icon {
  font-size: 30px;
  margin-left: 20px;
  color:rgb(50, 21, 117);
  float: right;
}