<div *ngIf="loading == false" class="circles">
    <div class="primary"></div>
    <div class="primary"></div>
    <div class="primary"></div>
    <div class="primary"></div>
    <div class="alternate"></div>
    <div class="alternate"></div>
    <div class="alternate"></div>
    <div class="alternate"></div>
</div>
<div layout-gt-sm="column">
    <mat-card style="background-color: #673ab7;" flex-gt-sm *ngFor="let item of userdata">
        <div layout-gt-xs="row">
            <mat-card>
                <mat-card-title-group>
                    <mat-card-title> {{item.name}}</mat-card-title>
                    <mat-card-subtitle>{{item.username}}</mat-card-subtitle>
                    <mat-card-subtitle>{{item.dob}}</mat-card-subtitle>
                    <!-- <mat-card-subtitle>{{item.mobile}}</mat-card-subtitle> -->
                    <!-- <mat-card-subtitle>{{item.}}</mat-card-subtitle>    -->
                    <img mat-card-lg-image class="image" src="{{item.imgurl}}">

                </mat-card-title-group>
            </mat-card>
        </div>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <button *ngIf="!isHidden" mat-button color="warn" class="text-upper" (click)="uploadFiles()">Update</button>
            <button *ngIf="!isHidden" mat-button class="text-upper" (click)="uploader.click()">select image</button>
            <input #uploader hidden type="file" (change)="fileChangeEvent($event)" />
            <button *ngIf="!isHiddenb" mat-button color="warn" class="text-upper">BLOCK</button>
            <button *ngIf="!isHiddenb" mat-button class="text-upper">Messasge</button>
        </mat-card-actions>
    </mat-card>


    <mat-grid-list cols="2" *ngIf="imagecrop == true">
        <mat-grid-tile>

            <mat-card>
                <img mat-card-lg-image class="mat-card-lg-image" [src]="croppedImage" />

                <image-cropper mat-card-lg-image [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                    [resizeToWidth]="256" [aspectRatio]="1/1" format="png" (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">

                    <input #uploader hidden type="file" (change)="fileChangeEvent($event)" />

                </image-cropper>

            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-card flex-gt-sm>
        <!-- <img mat-card-lg-image [src]="item.image"> -->



        <mat-grid-list cols="3">
            <mat-grid-tile *ngFor="let item of userpost">
                <mat-icon *ngIf="!isHidden" (click)="fn_delete(item)">delete</mat-icon>
                <img mat-card-lg-image src="{{item.image}}">

                <!-- <button mat-button color="warn" class="text-upper" >delete</button> -->


            </mat-grid-tile>
        </mat-grid-list>


    </mat-card>
</div>